/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: rgba(225, 225, 225, 0.8);
    --pure-white-color: whitesmoke;
    --white-color-light: white;
    --dark-color: rgba(16, 16, 16, 0.8);
    --pure-dark-color: rgb(24, 24, 24);
    --dark-color-light: rgb(32, 32, 32);
    --paper-color: rgb(200, 180, 130);
    --pure-paper-color: rgb(195, 170, 120);
    --paper-color-light: rgb(190, 160, 110);
    --gradient-x: linear-gradient(90deg,
            hsla(0, 0%, 0%, 0),
            hsl(210, 4%, 64%),
            hsla(0, 0%, 0%, 0));
    --gradient-y: linear-gradient(0,
            hsla(0, 0%, 0%, 0),
            hsl(210, 4%, 64%),
            hsla(0, 0%, 0%, 0));

    --text-color: var(--dark-color-light);
    --bg-color: var(--white-color-light);
    --bg-second-color: var(--white-color);
    --bg-third-color: #ddd;
    --bg-fouth-color: #888;
    --bg-pure-color: var(--pure-white-color);
    --anti-color: var(--dark-color-light);
    --anti-second-color: var(--dark-color);
    --anti-pure-color: var(--pure-dark-color);
    --active-color: #5b93e6;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --huge-font-size: 1.25rem;
    --big-font-size: 1.15rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --novel-font-size: 1.15rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

.dark {
    --text-color: var(--white-color-light);
    --bg-color: var(--dark-color-light);
    --bg-second-color: var(--dark-color);
    --bg-third-color: #333;
    --bg-fouth-color: #888;
    --bg-pure-color: var(--pure-dark-color);
    --anti-color: var(--white-color-light);
    --anti-second-color: var(--white-color);
    --anti-pure-color: var(--pure-white-color);
    --active-color: #4CAF50;
}

.eye-care {
    --text-color: var(--dark-color-light);
    --bg-color: var(--paper-color-light);
    --bg-second-color: var(--paper-color);
    --bg-third-color: #ddd;
    --bg-fouth-color: #888;
    --bg-pure-color: var(--pure-paper-color);
    --anti-color: var(--dark-color-light);
    --anti-second-color: var(--dark-color);
    --anti-pure-color: var(--pure-dark-color);
    --active-color: #d05545;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --huge-font-size: 1.45rem;
        --big-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.75rem;
        --novel-font-size: 1.25rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--bg-second-color);
}

*::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: var(--active-color);
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.loading {
    margin: 2rem auto;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid var(--active-color);
    border-top-color: var(--bg-second-color);
    border-right-color: var(--bg-second-color);
    border-bottom-color: var(--bg-second-color);
    border-radius: 100%;
    animation: circle infinite 1s ease-in;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*=============== LAYOUT ===============*/
.container {
    margin-inline: 1.5rem;
    line-height: 1.5;
}

.main {
    padding-top: 5rem;
}

.my-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
}

.me {
    height: 16rem;
}

.novel-toggle {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.novel-toggle button {
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.novel-toggle button:hover {
    background-color: var(--bg-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: var(--active-color);
    padding: 0.5rem;
    border-radius: .25rem;
    font-weight: bold;
}

select {
    color: var(--text-color);
    background-color: var(--bg-second-color);
    width: 12rem;
    padding: 0.8rem;
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius: .25rem;
    transition: background .3s;
}

button {
    color: var(--text-color);
    background-color: var(--bg-second-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    align-items: center;
    padding: 0.8rem;
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius: .25rem;
    transition: background .3s;
}

button:hover {
    font-weight: bold;
    border: 1px solid var(--text-color);
    background-color: var(--active-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: all .1s;
}

button:focus {
    border: 1px solid var(--bg-second-color);
    background-color: var(--text-color);
    color: var(--active-color);
    font-weight: bold;
}

button .locked {
    color: gray;
    border: none;
}

.topBtn {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: -100%;
    bottom: 6rem;
    z-index: var(--z-fixed);
    transition: right 1s;
}

.topBtn-display {
    right: 1.5rem;
}

.topBtn:hover i {
    display: none;
}

.topBtn span {
    display: none;
}

.topBtn:hover span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.45rem;
}

/*=============== NOVELS ===============*/
.output {
    margin-bottom: 2.5rem;
}

.output>*:not(table) {
    padding: 1rem 2rem;
    margin: 1rem 0 1rem 0;
    color: var(--text-color);
    background-color: var(--bg-second-color);
    border-radius: .25rem;
}

.output>*:not(p, table):hover {
    color: var(--text-color);
    background-color: var(--bg-third-color);
}

.output :is(h1, h2, h3) {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: auto 10rem;
    margin: 1rem auto;
    position: sticky;
    top: 3.5rem;
}

.output :is(h1, h2, h3)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.output h1 {
    font-size: calc(1.25 * var(--novel-font-size));
}

.output h2 {
    font-size: calc(1.15 * var(--novel-font-size));
    text-align: center;
    top: 7.36rem;
}

.output h3 {
    font-size: var(--novel-font-size);
    text-align: right;
    top: 11.1rem;
}

.output p {
    font-size: var(--novel-font-size);
    background-color: var(--bg-pure-color);
    line-height: 2;
    text-indent: calc(2 * var(--novel-font-size));
    text-align: justify;
    text-justify: inter-ideograph;
    padding: 1rem 2rem;
}

.output p:has(+ p) {
    margin-bottom: -2.5rem;
}

.output blockquote {
    margin: -1rem 0;
    background-color: var(--bg-pure-color);
    font-family: serif;
}

.output blockquote p {
    padding: 1.5rem calc(2 * var(--big-font-size));
    background: none;
}

.output a {
    font-size: 0.5rem;
    color: var(--active-color);
    font-weight: bold;
    vertical-align: top;
}


table {
    font-size: var(--big-font-size);
    width: auto;
    margin: 1rem auto;
    border-collapse: separate;
    border-spacing: .1rem;
}

table caption {
    font-weight: bold;
}

th,
td {
    padding: 1rem;
    color: var(--text-color);
}

table thead tr {
    background-color: var(--bg-pure-color);
}

table tbody tr:nth-child(odd) {
    background-color: var(--bg-second-color);
}

table tbody tr:nth-child(even) {
    background-color: var(--bg-pure-color);
}

table tbody tr:hover {
    background-color: var(--bg-third-color);
}

table tr:first-child th:first-child {
    border-top-left-radius: .25rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: .25rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: .25rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: .25rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-second-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: var(--z-fixed);
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.header_container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_toggle {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    padding: 0.15rem;
    color: var(--text-color);
    cursor: pointer;
}

.header_toggle:hover {
    background-color: var(--bg-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: var(--active-color);
    padding: 0.15rem;
    border-radius: .25rem;
    font-weight: bold;
}

.header-active {
    background-color: var(--active-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: .25rem;
}

.header_logo {
    width: 128px;
}

/*=============== SIDEBAR ===============*/
.sidebar {
    position: fixed;
    left: -100%;
    top: var(--header-height);
    width: 280px;
    height: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--bg-second-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: var(--z-fixed);
    transition: left .4s;
}

.sidebar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: var(--gradient-y);
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 3rem;
    height: 100%;
}

.sidebar_logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: .5rem;
}

.sidebar_logo-img {
    width: 42px;
}

.sidebar_logo-text {
    width: 200px;
}

.sidebar_content {
    position: relative;
    overflow: auto;
    padding-top: 2rem;
}

.sidebar_content::-webkit-scrollbar {
    display: none;
}

.sidebar_content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}

.sidebar_link {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1.5rem;
    padding: 1rem;
    border-radius: .25rem;
    transition: background .3s;
}

.sidebar_link-floating {
    display: none;
}

.sidebar_link i {
    color: var(--text-color);
    font-size: 1.25rem;
}

.sidebar_link-name {
    font-weight: var(--font-medium);
    transition: color .4s;
}

.sidebar_link:hover {
    background-color: var(--bg-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: var(--active-color);
    font-weight: bold;
}

.sidebar_link:hover i {
    color: var(--active-color);
    font-weight: bold;
}

.sidebar_title span {
    display: block;
    position: relative;
    margin-block: 2rem 1.5rem;
    text-align: center;
    color: var(--text-color);
    font-size: var(--normal-font-size);
}

.sidebar_title span::before,
.sidebar_title span::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
}

.sidebar_title span::before {
    background: linear-gradient(90deg,
            hsla(0, 0%, 0%, 0),
            hsl(210, 4%, 64%));
    left: 0;
}

.sidebar_title span::after {
    background: linear-gradient(90deg,
            hsl(210, 4%, 64%),
            hsla(0, 0%, 0%, 0));
    right: 0;
}

.sidebar_perfil {
    width: 55px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
}

.sidebar_account {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.sidebar_name {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: .25rem;
}

.sidebar_email {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.sidebar_account i {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

/* Show sidebar */
.show-sidebar {
    left: 0;
}

/* Active link */
.active-link {
    background-color: var(--active-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.active-link span {
    color: var(--text-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
    .sidebar {
        width: 232px;
        padding-inline: 1rem;
    }

    .sidebar_account {
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }

    .sidebar_account i {
        margin: 0;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header_container {
        height: calc(var(--header-height) + 1.5rem);
    }

    .header_toggle {
        font-size: 1.5rem;
    }

    .sidebar {
        left: 0;
        top: calc(var(--header-height) + 1.5rem);
        width: 300px;
        transition: width .4s;
    }

    .sidebar_container {
        padding-bottom: 4rem;
        overflow: hidden;
    }

    .sidebar_logo {
        transition: padding .4s;
    }

    .sidebar_link {
        position: relative;
        padding-inline: 1.5rem;
        column-gap: 2rem;
    }

    .sidebar_link i {
        font-size: 1.5rem;
    }

    .sidebar_link-name {
        transition: color .4s, opacity .4s;
    }

    .sidebar_title {
        position: relative;
    }

    .sidebar_title::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--gradient-x);
        opacity: 0;
    }

    .sidebar_account {
        column-gap: 1rem;
        padding-left: .5rem;
        margin-top: auto;
    }

    .sidebar_logo-text,
    .sidebar_title,
    .sidebar_title::after,
    .sidebar_title span {
        transition: opacity .4s;
    }

    .sidebar_link-floating {
        display: block;
        font-size: 0.25rem;
        width: max-content;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transition: color .4s, opacity .4s;
        opacity: 0;
    }

    .main {
        padding-left: 300px;
        padding-top: 6rem;
        transition: padding .4s;
    }

    /* Reduce sidebar */
    .show-sidebar {
        width: 120px;
    }

    .show-sidebar .sidebar_logo {
        padding-left: 1rem;
    }

    .show-sidebar .sidebar_logo-text,
    .show-sidebar .sidebar_link-name {
        opacity: 0;
    }

    .show-sidebar .sidebar_title span {
        opacity: 0;
        pointer-events: none;
    }

    .show-sidebar .sidebar_title::after {
        opacity: 1;
    }

    .show-sidebar .sidebar_link:hover .sidebar_link-floating {
        opacity: 1;
        color: var(--active-color);
    }

    .show-sidebar .main {
        padding-left: 300px;
    }

    /* Add padding main */
    .main-pd {
        padding-left: 120px;
    }

    select {
        width: 16rem;
        padding: 0.8rem;
        margin: 0.5rem;
    }

    .output h1 {
        top: 5rem;
    }

    .output h2 {
        top: 9.15rem;
    }

    .output h3 {
        top: 13.05rem;
    }
}