:root {
    --header-height: 3.5rem;

    /*========== 颜色 ==========*/

    /* 基础颜色 */
    --color-white: rgba(225, 225, 225, 0.8);
    --color-white-pure: whitesmoke;
    --color-white-light: white;
    --color-black: rgba(16, 16, 16, 0.8);
    --color-black-pure: rgb(24, 24, 24);
    --color-black-light: rgb(32, 32, 32);
    --color-brown: rgba(200, 180, 130, 0.8);
    --color-brown-pure: rgb(195, 170, 120);
    --color-brown-light: rgb(190, 160, 110);
    --color-green: rgba(220, 225, 205, 0.8);
    --color-pure-green: rgb(215, 230, 205);
    --color-green-light: rgb(190, 200, 185);

    /* 渐变 */
    --gradient-x: linear-gradient(90deg,
            hsla(0, 0%, 0%, 0),
            hsl(210, 4%, 64%),
            hsla(0, 0%, 0%, 0));
    --gradient-y: linear-gradient(0,
            hsla(0, 0%, 0%, 0),
            hsl(210, 4%, 64%),
            hsla(0, 0%, 0%, 0));

    /* 主题变量 */
    --color-text: var(--color-black-light);
    --color-bg: var(--color-white-light);
    --color-bg-sec: var(--color-white);
    --color-bg-thi: #ddd;
    --color-bg-fou: #888;
    --color-bg-pure: var(--color-white-pure);
    --color-anti: var(--color-black-light);
    --color-anti-sec: var(--color-black);
    --color-anti-pure: var(--color-black-pure);
    --color-active: #5b93e6;

    /*========== 字体 ==========*/
    --body-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*========== 字号 ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --font-size-huge: 1.25rem;
    --font-size-big: 1.15rem;
    --font-size-normal: .938rem;
    --font-size-small: .813rem;

    /*========== 字重 ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== 主题 ==========*/
.dark {
    --color-text: var(--color-white-light);
    --color-bg: var(--color-black-light);
    --color-bg-sec: var(--color-black);
    --color-bg-thi: #333;
    --color-bg-pure: var(--color-black-pure);
    --color-anti: var(--color-white-light);
    --color-anti-sec: var(--color-white);
    --color-anti-pure: var(--color-white-pure);
    --color-active: #4CAF50;
}

.brown {
    --color-text: var(--color-black-light);
    --color-bg: var(--color-brown-light);
    --color-bg-sec: var(--color-brown);
    --color-bg-thi: #ddd;
    --color-bg-pure: var(--color-brown-pure);
    --color-anti: var(--color-black-light);
    --color-anti-sec: var(--color-black);
    --color-anti-pure: var(--color-black-pure);
    --color-active: #d05545;
}

.green {
    --color-text: var(--color-black-light);
    --color-bg: var(--color-green-light);
    --color-bg-sec: var(--color-green);
    --color-bg-thi: #faffe9;
    --color-bg-pure: var(--color-pure-green);
    --color-anti: var(--color-black-light);
    --color-anti-sec: var(--color-black);
    --color-anti-pure: var(--color-black-pure);
    --color-active: #e5a54c;
}

/*========== 字体引入 ==========*/
@font-face {
    font-family: ZhiSong;
    src: url('../assets/font/LXGWNeoZhiSongPlus.ttf');
}

@font-face {
    font-family: XiHei;
    src: url('../assets/font/LXGWNeoXiHeiPlus.ttf');
}

@font-face {
    font-family: WenKai;
    src: url('../assets/font/LXGWWenKai-Medium.ttf');
}

@font-face {
    font-family: ZhuQue;
    src: url('../assets/font/ZhuqueFangsong-Regular.ttf');
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --font-size-huge: 1.45rem;
        --font-size-big: 1.25rem;
        --font-size-normal: 1rem;
        --font-size-small: .75rem;
    }
}

/*=============== 基础样式 ===============*/
body {
    font-family: var(--body-font);
    font-size: var(--font-size-normal);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-bg-sec);
}

*::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: var(--color-active);
}

*::-webkit-scrollbar-track {
    background: var(--color-bg);
}

/* 进度圈 */
.loading {
    margin: 2rem auto;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid var(--color-active);
    border-top-color: var(--color-bg-sec);
    border-right-color: var(--color-bg-sec);
    border-bottom-color: var(--color-bg-sec);
    border-radius: 100%;
    animation: circle infinite 1s ease-in;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*=============== 布局 ===============*/
.container {
    margin-inline: 1.5rem;
    line-height: 1.5;
}

.main {
    padding-top: 5rem;
}

.my-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    z-index: -1;
}

.me {
    height: 16rem;
}

/*=============== 组件 ===============*/
/* 顶栏 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-bg-sec);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: var(--z-fixed);
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.header_container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_toggle {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    padding: 0.15rem;
    color: var(--color-text);
    cursor: pointer;
}

.header_toggle:hover {
    background: var(--color-bg);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: var(--color-active);
    padding: 0.15rem;
    border-radius: .25rem;
    font-weight: bold;
}

.header-active {
    background: var(--color-active);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: .25rem;
}

.header_logo {
    width: 128px;
}

/* 侧边栏 */
.sidebar {
    position: fixed;
    left: -100%;
    top: var(--header-height);
    width: 280px;
    height: 100%;
    padding: 2rem 1.5rem;
    background: var(--color-bg-sec);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: var(--z-fixed);
    transition: left .4s;
}

.sidebar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: var(--gradient-y);
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 3rem;
    height: 100%;
}

.sidebar_logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: .5rem;
}

.sidebar_logo-img {
    width: 42px;
}

.sidebar_logo-text {
    width: 200px;
}

.sidebar_content {
    position: relative;
    overflow: auto;
    padding-top: 2rem;
}

.sidebar_content::-webkit-scrollbar {
    display: none;
}

.sidebar_content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}

.sidebar_link {
    color: var(--color-text);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1.5rem;
    padding: 1rem;
    border-radius: .25rem;
    transition: background .3s;
}

.sidebar_link-floating {
    display: none;
}

.sidebar_link i {
    color: var(--color-text);
    font-size: 1.25rem;
}

.sidebar_link-name {
    font-weight: var(--font-medium);
    transition: color .4s;
}

.sidebar_link:hover {
    background: var(--color-bg);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: var(--color-active);
    font-weight: bold;
}

.sidebar_link:hover i {
    color: var(--color-active);
    font-weight: bold;
}

.sidebar_title span {
    display: block;
    position: relative;
    margin-block: 2rem 1.5rem;
    text-align: center;
    color: var(--color-text);
    font-size: var(--font-size-normal);
}

.sidebar_title span::before,
.sidebar_title span::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
}

.sidebar_title span::before {
    background: linear-gradient(90deg,
            hsla(0, 0%, 0%, 0),
            hsl(210, 4%, 64%));
    left: 0;
}

.sidebar_title span::after {
    background: linear-gradient(90deg,
            hsl(210, 4%, 64%),
            hsla(0, 0%, 0%, 0));
    right: 0;
}

.sidebar_perfil {
    width: 55px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.sidebar_account {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.sidebar_name {
    font-size: var(--font-size-normal);
    color: var(--color-text);
    margin-bottom: .25rem;
}

.sidebar_email {
    font-size: var(--font-size-small);
    font-weight: var(--font-medium);
}

.sidebar_account i {
    color: var(--color-white);
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

/* Show sidebar */
.show-sidebar {
    left: 0;
}

/* Active link */
.active-link {
    background: var(--color-active);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.active-link span {
    color: var(--color-text);
}

/* 按钮 */
button, select {
    font-size: var(--font-size-small);
    color: var(--color-text);
    background: var(--color-bg-sec);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: .25rem;
    transition: background .3s;
}

button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

button:hover {
    font-weight: bold;
    background: var(--color-active);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: all .1s;
}

button:focus {
    background: var(--color-text);
    color: var(--color-active);
    font-weight: bold;
}

button .locked {
    color: gray;
}

.topBtn {
    border: 1px solid var(--color-text);
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: -100%;
    bottom: 6rem;
    z-index: var(--z-fixed);
    transition: right 1s;
}

.topBtn-display {
    right: 1.5rem;
}

.topBtn:hover i {
    display: none;
}

.topBtn span {
    display: none;
}

.topBtn:hover span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.45rem;
}

.novel-toggle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*=============== NOVELS ===============*/
.novel {
    margin-bottom: 2.5rem;
}

.novel>*:not(table) {
    padding: 1rem 2rem;
    margin: 1rem 0 1rem 0;
    color: var(--color-text);
    background: var(--color-bg-sec);
    border-radius: .25rem;
}

.novel>*:not(p, table):hover {
    color: var(--color-text);
    background: var(--color-bg-thi);
}

.novel :is(h1, h2, h3) {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: auto 10rem;
    margin: 1rem auto;
    position: sticky;
    top: 3.5rem;
}

.novel :is(h1, h2, h3)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.novel h1 {
    font-size: calc(1.25 * var(--font-size-novel));
}

.novel h2 {
    font-size: calc(1.15 * var(--font-size-novel));
    text-align: center;
    top: 7.36rem;
}

.novel h3 {
    font-size: var(--font-size-novel);
    text-align: right;
    top: 11.1rem;
}

.novel p {
    font-size: var(--font-size-novel);
    background: var(--color-bg-pure);
    line-height: 2;
    text-indent: calc(2 * var(--font-size-novel));
    text-align: justify;
    text-justify: inter-ideograph;
    padding: 1rem 2rem;
}

.novel p:has(+ p) {
    margin-bottom: -2.5rem;
}

.novel blockquote {
    margin: -1rem 0;
    background: var(--color-bg-pure);
    font-family: serif;
}

.novel blockquote p {
    padding: 1.5rem calc(2 * var(--font-size-big));
    background: none;
}

.novel a {
    font-size: 0.5rem;
    color: var(--color-active);
    font-weight: bold;
    vertical-align: top;
}

table {
    font-size: var(--font-size-big);
    width: auto;
    margin: 1rem auto;
    border-collapse: separate;
    border-spacing: .1rem;
}

table caption {
    font-weight: bold;
}

th,
td {
    padding: 1rem;
    color: var(--color-text);
}

table thead tr {
    background: var(--color-bg-pure);
}

table tbody tr:nth-child(odd) {
    background: var(--color-bg-sec);
}

table tbody tr:nth-child(even) {
    background: var(--color-bg-pure);
}

table tbody tr:hover {
    background: var(--color-bg-thi);
}

table tr:first-child th:first-child {
    border-top-left-radius: .25rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: .25rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: .25rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: .25rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
    .sidebar {
        width: 232px;
        padding-inline: 1rem;
    }

    .sidebar_account {
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }

    .sidebar_account i {
        margin: 0;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header_container {
        height: calc(var(--header-height) + 1.5rem);
    }

    .header_toggle {
        font-size: 1.5rem;
    }

    .sidebar {
        left: 0;
        top: calc(var(--header-height) + 1.5rem);
        width: 300px;
        transition: width .4s;
    }

    .sidebar_container {
        padding-bottom: 4rem;
        overflow: hidden;
    }

    .sidebar_logo {
        transition: padding .4s;
    }

    .sidebar_link {
        position: relative;
        padding-inline: 1.5rem;
        column-gap: 2rem;
    }

    .sidebar_link i {
        font-size: 1.5rem;
    }

    .sidebar_link-name {
        transition: color .4s, opacity .4s;
    }

    .sidebar_title {
        position: relative;
    }

    .sidebar_title::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--gradient-x);
        opacity: 0;
    }

    .sidebar_account {
        column-gap: 1rem;
        padding-left: .5rem;
        margin-top: auto;
    }

    .sidebar_logo-text,
    .sidebar_title,
    .sidebar_title::after,
    .sidebar_title span {
        transition: opacity .4s;
    }

    .sidebar_link-floating {
        display: block;
        font-size: 0.25rem;
        width: max-content;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transition: color .4s, opacity .4s;
        opacity: 0;
    }

    .main {
        padding-left: 300px;
        padding-top: 6rem;
        transition: padding .4s;
    }

    /* Reduce sidebar */
    .show-sidebar {
        width: 120px;
    }

    .show-sidebar .sidebar_logo {
        padding-left: 1rem;
    }

    .show-sidebar .sidebar_logo-text,
    .show-sidebar .sidebar_link-name {
        opacity: 0;
    }

    .show-sidebar .sidebar_title span {
        opacity: 0;
        pointer-events: none;
    }

    .show-sidebar .sidebar_title::after {
        opacity: 1;
    }

    .show-sidebar .sidebar_link:hover .sidebar_link-floating {
        opacity: 1;
        color: var(--color-active);
    }

    .show-sidebar .main {
        padding-left: 300px;
    }

    /* Add padding main */
    .main-pd {
        padding-left: 120px;
    }

    select {
        width: 16rem;
        padding: 0.8rem;
        margin: 0.5rem;
    }

    .novel h1 {
        top: 5rem;
    }

    .novel h2 {
        top: 9.15rem;
    }

    .novel h3 {
        top: 13.05rem;
    }
}