header {
	width: 75%;
	margin: 4rem auto;
	z-index: 1;
}

.img-title {
	display: block;
	margin: 0 auto;
}

.img-edition {
	display: block;
	margin: -0.5rem auto;
}

#splash {
	position: absolute;
	top: 20%;
	right: 24%;
	color: var(--active-color);
	text-align: left;
	text-shadow: 2px 2px #3f3f00;
	font-size: var(--big-font-size);
	transform: rotate(-15deg);
	animation-name: shining;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
}

@keyframes shining {
	0% {
		transform: scale(1) rotate(-15deg);
	}

	25% {
		transform: scale(.95) rotate(-15deg);
	}

	50% {
		transform: scale(1) rotate(-15deg);
	}

	75% {
		transform: scale(.95) rotate(-15deg);
	}
}

@media screen and (max-width: 1180px) {
	.img-title {
		width: 85%;
	}

	.img-edition {
		width: 42.5%;
	}

	#splash {
		position: absolute;
		top: 20%;
		right: 5%;
	}
}