@import url(header.css);
@import url(main.css);
@import url(footer.css);

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--text-color: whitesmoke;
	--white-color: white;
	--black-color: black;
	--black-alpha-color: rgba(8, 8, 8, 0.8);
	--light-gray-color: darkgray;
	--gray-color: rgb(48, 48, 48);
	--blue-color: skyblue;
	--active-color: yellow;
	--alpha-bg: rgba(0, 0, 0, 0);
	--gradient-x: linear-gradient(90deg,
			hsla(0, 0%, 0%, 0),
			hsl(210, 4%, 64%),
			hsla(0, 0%, 0%, 0));
	--gradient-y: linear-gradient(0,
			hsla(0, 0%, 0%, 0),
			hsl(210, 4%, 64%),
			hsla(0, 0%, 0%, 0));

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: minecraft, unifont;
	--huge-font-size: 1.75rem;
	--big-font-size: 1.25rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 1024px) {
	:root {
		--huge-font-size: 2rem;
		--big-font-size: 1.5rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.75rem;
	}
}

@font-face {
	font-family: minecraft;
	src: url('../assets/font/minecraft.ttf');
}

@font-face {
	font-family: unifont;
	src: url('../assets/font/unifont-15.0.01.otf');
}

* {
	box-sizing: border-box;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
	text-shadow: .1rem .1rem var(--black-color);
	padding: 0;
	margin: 0;
	transition: .1s ease-out;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	/* width: min(64ch, 100% - 4rem); */
	min-height: 64ch;
	margin-inline: auto;
}

@media screen and (max-width: 720px) {
	:root {
        --huge-font-size: 1.45rem;
        --big-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.75rem;
    }
}