body {
    background: rgba(0, 0, 0, 0.75) url('../assets/image/background/dirt.png');
	background-size: 8%;
	background-attachment: fixed;
	background-blend-mode: darken;
}

main {
	margin: 2rem auto;
	z-index: 1;
}

img,
svg,
video {
	max-width: 100%;
}

a {
	color: var(--blue-color);
	text-decoration: none;
}

a:hover {
	color: var(--active-color);
	text-decoration: none;
}

.text h1, h2, h3, h4, h5, h6 {
	margin: 2rem;
	font-size: var(--huge-font-size);
	font-weight: normal;
	text-align: center;
}

.text p {
	background-color: var(--black-alpha-color);
    line-height: 1.75;
	font-size: var(--normal-font-size);
    text-indent: calc(2 * var(--normal-font-size));
    text-align: justify;
    text-justify: inter-ideograph;
	padding: 1rem 2rem;
}

.text em {
	font-size: var(--small-font-size);
	text-align: center;
}

input, button {
	border: none;
	border-style: solid;
	display: inline-block;
	padding: .5rem;
	border-width: 4px;
	border-image-slice: 32;
	border-image-repeat: round;
	border-image-width: 16px;
	text-align: center;
	text-decoration: none;
}

input {
	background: url('../assets/image/input_board/input_board_default.png');
	border-image-source: url('../assets/image/input_board/input_board_default.png');
}

input:hover {
	background: url('../assets/image/input_board/input_board_hover.png');
	border-image-source: url('../assets/image/input_board/input_board_hover.png');
}

button {
	background: url('../assets/image/button/button_default.png');
	border-image-source: url('../assets/image/button/button_default.png');
}

button:hover:not(:disabled) {
	color: var(--active-color);
	background: url('../assets/image/button/button_hover.png');
	border-image-source: url('../assets/image/button/button_hover.png');
}

button:focus {
	color: var(--active-color);
	background: url('../assets/image/button/button_pressed.png');
	border-image-source: url('../assets/image/button/button_pressed.png');
}

button:disabled {
	cursor: not-allowed;
	color: var(--light-gray-color);
	background: url('../assets/image/button/button_locked.png');
	border-image-source: url('../assets/image/button/button_locked.png');
}

.button_list {
	text-align: center;
}

.long_btn {
	width: 24rem;
	margin: .5rem auto;
}

.mid_btn {
	width: 11.75rem;
	margin: .5rem .125rem;
}

@media screen and (max-width: 720px) {
	.img-title {
		width: 95%;
	}
	
	.img-edition {
		width: 47.5%;
	}	

	button {
		color: var(--gray-color);
		text-shadow: none;
		background: url('../assets/image/button/bedrock/button_default.png');
		border-image-source: url('../assets/image/button/bedrock/button_default.png');
		border-width: 16px;
		border-image-slice: 48;
		border-image-repeat: round;
		border-image-width: 48px;
	}
	
	button:hover:not(:disabled) {
		color: var(--white-color);
		background: url('../assets/image/button/bedrock/button_hover.png');
		border-image-source: url('../assets/image/button/bedrock/button_hover.png');
	}
	
	button:focus {
		color: var(--white-color);
		background: url('../assets/image/button/bedrock/button_pressed.png');
		border-image-source: url('../assets/image/button/bedrock/button_pressed.png');
	}
	
	button:disabled {
		cursor: not-allowed;
		color: var(--light-gray-color);
		background: url('../assets/image/button/bedrock/button_locked.png');
		border-image-source: url('../assets/image/button/bedrock/button_locked.png');
	}

	.long_btn {
		width: 16rem;
		margin: .5rem auto;
	}
	
	.mid_btn {
		width: 7rem;
		margin: .5rem .75rem;
	}
	
}