@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "lemonade";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dim";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "@tailwindcss/typography";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "LXGW Neo ZhiSong";
  src: local("LXGW Neo ZhiSong"), local("LXGWNeoZhiSong"),
    url("/assets/fonts/LXGWNeoZhiSong.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW Neo XiHei";
  src: local("LXGW Neo XiHei"), local("LXGWNeoXiHei"),
    url("/assets/fonts/LXGWNeoXiHei.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai GB Lite";
  src: local("LXGW WenKai GB Lite"), local("LXGWWenKaiGBLite"),
    url("/assets/fonts/LXGWWenKaiGBLite-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai GB Lite";
  src: local("LXGW WenKai GB Lite"), local("LXGWWenKaiGBLite"),
    url("/assets/fonts/LXGWWenKaiGBLite-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zhuque Fangsong (technical preview)";
  src: local("Zhuque Fangsong (technical preview)"),
    local("ZhuqueFangsong(technicalpreview)"),
    url("/assets/fonts/ZhuqueFangsong-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-song: "LXGW Neo ZhiSong", "STSong", "SimSun", serif;
  --font-hei: "LXGW Neo XiHei", "STHeiti", "STXihei", "SimHei", sans-serif;
  --font-kai: "LXGW WenKai GB Lite", "STKaiti", "KaiTi", cursive;
  --font-fang: "Zhuque Fangsong (technical preview)", "STFangsong", "FangSong",
    serif;
}

@layer utilities {
  /* 标题样式 */
  #markdown-content.prose h2 {
    @apply font-hei mt-4 mb-0;
    font-size: calc(var(--para-font-size) * 1.25);
  }

  #markdown-content.prose h3 {
    @apply font-kai font-bold!;
  }

  #markdown-content.prose h3,
  #markdown-content.prose h4,
  #markdown-content.prose h5,
  #markdown-content.prose h6 {
    @apply font-normal mt-2 mb-0 text-(length:--para-font-size)/(--para-line-height);
  }

  /* 段落与列表 */
  #markdown-content.prose p {
    @apply text-(length:--para-font-size)/(--para-line-height) my-(--para-margin-inline) indent-(--para-text-indent);
    letter-spacing: var(--para-letter-spacing);
  }

  #markdown-content.prose li {
    @apply text-(length:--para-font-size);
  }

  #markdown-content.prose table,
  #markdown-content.prose ul,
  #markdown-content.prose ol,
  #markdown-content.prose blockquote,
  #markdown-content.prose pre {
    margin: var(--para-margin-inline) 0;
  }

  #markdown-content.prose hr {
    margin: calc(var(--para-font-size) * 1.5) 0;
  }

  /* 包裹元素与标题锚点 (.wrapper) */
  #markdown-content.prose .wrapper {
    @apply flex items-center gap-2;
  }

  #markdown-content.prose .wrapper a.header-anchor {
    @apply badge badge-md hover:badge-secondary no-underline px-2 mt-2.5 hidden text-center items-center;
  }

  #markdown-content.prose .wrapper:hover a.header-anchor {
    @apply inline;
  }

  /* Alert 警告框样式 */
  #markdown-content.prose .alert {
    margin-bottom: var(--para-margin-inline);
  }

  #markdown-content.prose .alert i {
    font-size: calc(var(--para-font-size) * 1.5);
  }

  #markdown-content.prose .alert h3,
  #markdown-content.prose .alert p {
    @apply indent-0 m-1 text-base-content;
    font-size: calc(var(--para-font-size) * 0.75);
    line-height: unset;
    letter-spacing: unset;
  }

  #markdown-content.prose .chat {
    @apply mx-4 md:mx-12;
  }

  #markdown-content.prose .chat a {
    @apply no-underline hover:font-bold;
  }

  #markdown-content.prose .chat-bubble-primary a {
    @apply text-primary-content;
  }

  #markdown-content.prose .chat-bar {
    @apply flex justify-start items-center gap-2 mb-4 bg-base-200/50 p-2 rounded-xl mx-4 md:mx-12;
    font-size: calc(var(--para-font-size) * 0.75);
    line-height: 1;
    letter-spacing: unset;
  }

  #markdown-content.prose .chat-bubble p {
    @apply indent-0 m-1;
    font-size: calc(var(--para-font-size) * 0.75);
    line-height: 1;
    letter-spacing: unset;
  }

  #markdown-content.prose .chat-header {
    font-size: calc(var(--para-font-size) * 0.5);
    line-height: unset;
    letter-spacing: unset;
  }

  #markdown-content.prose .chat-footer {
    font-size: calc(var(--para-font-size) * 0.5);
    line-height: unset;
    letter-spacing: unset;
  }

  #markdown-content.prose .chat img,
  #markdown-content.prose .chat-image img {
    @apply m-0;
  }

  #markdown-content.prose .chat-bubble img {
    @apply rounded-lg max-w-24 min-w-8;
  }

  #markdown-content.prose .chat-bubble:has(img) {
    @apply p-0;
  }

  /* 引用与强调文本 */
  #markdown-content.prose blockquote,
  #markdown-content.prose em {
    @apply font-fang not-italic;
    quotes: none;
  }

  #markdown-content.prose blockquote p,
  #markdown-content.prose .footnotes p {
    @apply indent-0;
  }

  /* 脚注样式 */
  #markdown-content.prose .footnote-ref a {
    @apply badge badge-sm no-underline indent-0 px-1 font-hei;
  }

  #markdown-content.prose .footnote-ref a:hover {
    @apply badge-info;
  }

  #markdown-content.prose .footnote-backref {
    @apply badge badge-xs px-1 no-underline hover:badge-info;
    font-size: calc(var(--para-font-size) * 0.5);
  }

  #markdown-content.prose .footnotes,
  #markdown-content.prose .footnotes p {
    @apply font-song;
    font-size: calc(var(--para-font-size) * 0.75);
    line-height: calc(var(--para-line-height) * 0.75);
    margin: calc(var(--para-margin-inline) * 0.75) 0;
  }

  #markdown-content.prose li.footnote-item::marker {
    font-size: calc(var(--para-font-size) * 0.75);
    content: "[" counter(list-item) "]";
  }

  #markdown-content.prose li.footnote-item ul,
  #markdown-content.prose li.footnote-item ul li {
    font-size: calc(var(--para-font-size) * 0.75);
  }

  /* 代码块样式 */
  #markdown-content.prose pre {
    @apply mockup-code w-full;
  }

  #markdown-content.prose pre code.hljs {
    @apply bg-transparent!;
    font-size: calc(var(--para-font-size) * 0.75);
    line-height: unset;
  }

  /* Task List 任务列表 */
  #markdown-content.prose ul.contains-task-list {
    @apply list-none ps-[0.5em];
  }

  #markdown-content.prose input.task-list-item-checkbox {
    @apply checkbox checkbox-primary;
  }

  /* KaTeX 数学公式 */
  #markdown-content.prose span.katex {
    @apply max-sm:text-lg;
  }

  #markdown-content.prose p:has(span.katex-display) {
    @apply indent-0 text-center;
  }

  #markdown-content.prose span.katex-html {
    @apply hidden;
  }
}
